fastapi
uvicorn[standard]
gunicorn
python-multipart
crewai
crewai[tools]
openai
python-dotenv
pydantic
pydantic-settings
requests
httpx
moviepy
pydub
SpeechRecognition
elevenlabs
pathlib2
structlog
aiofiles